<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="row justify-content-center w-100">
    <div class="col-12 col-md-8 col-lg-8">
      <!-- Adjust column sizes for responsiveness -->
      <div class="card p-4 shadow-sm">
        <h2 class="text-center">Transportation Data Form</h2>
        <form [formGroup]="transportForm">
          <!-- Transportation Mode Input -->
          <div class="mb-3">
            <label for="transportationMode" class="form-label">Transportation Mode
              <div *ngIf="transportForm.get('transportationMode')?.touched && transportForm.get('transportationMode')?.invalid">
                <small class="text-danger" *ngIf="transportForm.get('transportationMode')?.hasError('required')">
                   required.
                </small>
              </div>
            </label>
            <select
              class="form-select"
              id="transportationMode"
              formControlName="transportationMode"
              required>
              <option value="" disabled selected>
                Select Transportation Mode
              </option>
              <option *ngFor="let mode of transportationModes" [value]="mode">
                {{ mode }}
              </option>
            </select>
          </div>

          <!-- Fuel Type Input -->
          <div class="mb-3">
            <label for="fuelType" class="form-label">Fuel Type
              <div *ngIf="transportForm.get('fuelType')?.touched && transportForm.get('fuelType')?.invalid">
                <small class="text-danger" *ngIf="transportForm.get('fuelType')?.hasError('required')">
                   required.
                </small>
              </div>
            </label>
            <select
              class="form-select"
              id="fuelType"
              formControlName="fuelType"
              required
            >
              <option value="" disabled selected>Select Fuel Type</option>
              <option *ngFor="let fuel of fuelTypes" [value]="fuel">
                {{ fuel }}
              </option>
            </select>
          </div>

          <!-- Distance (km) Input -->
          <div class="row">
            <div class="col mb-3">
              <label for="distanceKm" class="form-label">Distance (km)
                <div *ngIf="transportForm.get('distanceKm')?.touched && transportForm.get('distanceKm')?.invalid">
                  <small class="text-danger" *ngIf="transportForm.get('distanceKm')?.hasError('required')">
                    required.
                  </small>
                </div>
              </label>
              <input
                type="number"
                class="form-control"
                id="distanceKm"
                pattern="^[0-9]+(\.[0-9]+)?$"
                formControlName="distanceKm"
                required
                placeholder="Enter distance in kilometers"
                step="0.1"
                min="0"
              />
            </div>

            <div class="col mb-3">
                <label for="mileage" class="form-label">Mileage (km/l)
                  <div *ngIf="transportForm.get('mileage')?.touched && transportForm.get('mileage')?.invalid">
                    <small class="text-danger" *ngIf="transportForm.get('mileage')?.hasError('required')">
                       required.
                    </small>
                  </div>
                </label>
                <input
                  type="number"
                  class="form-control"
                  id="mileage"
                  formControlName="mileage"
                  required
                  placeholder="Enter mileage in km/l"
                  step="0.1"
                  min="0"
                />
              </div>
            </div>

            <!-- Frequency Input -->
 
            <div class="row">
            <div class="col mb-3">
              <label for="frequency" class="form-label">Frequency
                <div *ngIf="transportForm.get('frequency')?.touched && transportForm.get('frequency')?.invalid">
                  <small class="text-danger" *ngIf="transportForm.get('frequency')?.hasError('required')">
                    required.
                  </small>
                </div>
              </label>
              <select
                class="form-select"
                id="frequency"
                formControlName="frequency"
                required
              >
                <option value="" disabled selected>Select Frequency</option>
                <option *ngFor="let freq of frequencies" [value]="freq">
                  {{ freq }}
                </option>
              </select>
            </div>
         

          <!-- Month Input -->
          <div class="col mb-3">
            <label for="month" class="form-label">Month
              <div *ngIf="transportForm.get('month')?.touched && transportForm.get('month')?.invalid">
                <small class="text-danger" *ngIf="transportForm.get('month')?.hasError('required')">
                  required.
                </small>
              </div>
            </label>
            <select
              class="form-select"
              id="month"
              formControlName="month"
              required
            >
              <option value="" disabled selected>Select a Month</option>
              <option *ngFor="let month of months" [value]="month">{{ month }}</option>
            </select>
          </div>
          </div>

          <!-- Submit Button -->
          <div class="text-center">
            <button type="submit" [disabled]="transportForm.invalid"  class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
