/* Add this CSS to your component's styles or global styles */
/* Ensuring the container takes full height and centers the content */

.card {
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    font-size: 28px;
    color: #3c6e47; /*Eco-friendly green*/
    margin-bottom: 25px;
  }
  
  h3 {
    font-size: 16px;
    color: #4b8c4b;
    margin-bottom: 2px;
  }
  
  .form-label {
    font-size: 14px;
    color: #5d8a5e; /* Light green */
  }

  .form-control {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b0d0b0;
    border-radius: 5px;
  }
  
  .form-select {
    font-size: 14px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #b0d0b0;
    border-radius: 5px;
  }
  
  .btn-success {
    background-color: #16423C;
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-success:hover {
    background-color: #1E5E52 ;
  }
  
  .text-center {
    text-align:center;
  }
  
  .is-invalid {
    border-color: red !important;
  }
  
  .is-valid {
    border-color: green !important;
  }

  .btn-info {
    background-color: #16423C; /* Green button */
    color: white;
  }
  
  .btn-info:hover {
    background-color: #1E5E52;
  }
  
  /* Next Button */
  .btn-primary {
    background-color:#16423C;
    color: white;
  }
  
  .btn-primary:hover {
    background-color: #1E5E52;
  }

  .btn-success, .btn-info, .btn-primary {
    background-color: #16423C; /* Green button color */
    color: white;
    font-size: 16px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%; /* Full width buttons */
  }
  
  /* Hover effect for buttons */
  .btn-success:hover, .btn-info:hover, .btn-primary:hover {
    background-color: #1E5E52; /* Darker green on hover */
  }
  
  
 
  
  
 
  
 
  