<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img src="assets/environment.jpg" alt="Sustainable Planet" class="large-image" />
      </div>

      <div class="col-md-5 d-flex flex-column justify-content-center align-items-start">
        <h2 class="mb-4" style="color: #16423C;">Building a Sustainable Future</h2>
        <blockquote class="blockquote" style="font-size: 1.5rem; color: #16423C;">
          "The Earth is what we all have in common."
        </blockquote>
        <blockquote class="blockquote" style="font-size: 1.5rem; color: #16423C;">
          "Sustainability is not a goal to be reached but a way of thinking and being."
        </blockquote>
      </div>
    </div>
  </div>
  