
<div class="slider">
  <div class="list">
    <div class="item" *ngFor="let item of items; let i = index" [class.active]="i === itemActive">
      <img [src]="item.img" alt="slider-img" />
      <div class="content">
        <p>{{ item.category }}</p>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>

  <div class="arrows">
    <button id="prev" (click)="prevSlide()"><</button>
    <button id="next" (click)="nextSlide()">></button>
  </div>

  <div class="thumbnail">
    <div class="slide" *ngFor="let item of items; let i = index" [class.active]="i === itemActive" (click)="goToSlide(i)">
      <img [src]="item.img" alt="thumbnail" />
      <div class="content">{{ item.title }}</div>
    </div>
  </div>
</div>

  