<footer id = "footer" class="text-center text-lg-start" style="background-color: #16423C; color: #E9EFEC;">
    <div class="container p-4">
      <div class="row">
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fa-solid fa-seedling"></i> PlanetWise</h5>
          <p>
            PlanetWise is dedicated to making our planet greener and fostering a community committed to sustainability.
          </p>
        </div>
  
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-link"></i> Quick Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-decoration-none" style="color: #E9EFEC;">Progress</a>
            </li>
            <li>
              <a href="#" class=" text-decoration-none" style="color: #E9EFEC;">Community</a>
            </li>
            <li>
              <a href="login" class="text-decoration-none" style="color: #E9EFEC;">Login</a>
            </li>
            <li>
              <a href="signup" class="text-decoration-none" style="color: #E9EFEC;">Signup</a>
            </li>
          </ul>
        </div>
  
        <!-- Contact Section -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-envelope"></i> Contact Us</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:support@planetwise.com" class="text-decoration-none" style="color: #E9EFEC;">support&#64;planetwise.com</a>
            </li>
            <li>
              <a href="tel:+1234567890" class="text-decoration-none" style="color: #E9EFEC;">+1 234 567 890</a>
            </li>
          </ul>
        </div>
  
        <!-- Social Media Section -->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"><i class="fas fa-share-alt"></i> Follow Us</h5>
          <a href="#" class="me-3" style="color: #E9EFEC;">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="me-3" style="color: #E9EFEC;">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="me-3" style="color: #E9EFEC;">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="" style="color: #E9EFEC;">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  
    <div class="text-center pb-3" style="background-color: #16423C;">
      © 2024 PlanetWise. All rights reserved.
    </div>
  </footer>
  

  <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
  