<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
      <div class="col-md-7 d-flex justify-content-center align-items-center">
        <img src="assets/environment.jpg" alt="Sustainable Planet" class="large-image" />
      </div>
  
      <div class="col-md-5 d-flex flex-column justify-content-center align-items-center">
        <div class="outer">
          <div class="main">
            <h1>Sign Up</h1>
            <h3>Create a new account</h3>
  
            <form #userCreds="ngForm">
              <label for="first">Username:</label>
              <input ngModel type="text" id="first" name="username" 
                     placeholder="Enter your Username" required>
  
              <label for="email">Email:</label>
              <input ngModel type="email" id="email" name="email" 
                     placeholder="Enter your Email" required>
  
              <div class="row">
                <div class="col mb-3">
              <label for="password">Password:</label>
              <input ngModel type="password" id="password" name="password" 
                     placeholder="Enter your Password" required>
              </div>
  
              <div class="col mb-3">
              <label for="confirmPassword">Confirm Password:</label>
              <input ngModel type="password" id="confirmPassword" name="confirmPassword" 
                     placeholder="Confirm your Password" required>
                    </div>
              </div>

              <div class="row">
                <div class="col md-3">
              <label for="age">Age:</label>
              <input ngModel type="number" id="age" name="age" placeholder="Enter your Age" required min="18">
                </div>
              <!-- New Reminder Frequency Field -->

              <div class="col md-3">
              <label for="reminderFrequency">Reminder Frequency:</label>
                  <select ngModel id="reminderFrequency"  required>
                    <option value="" disabled selected>Select a reminder frequency</option>
                    <option *ngFor="let freq of frequencies" [value]="freq">{{ freq }}</option>
                  </select>
                </div>
                </div>
  
              <div class="wrap">
                <button type="submit">Sign Up</button>
              </div>
            </form>
  
            <p>Already have an account? 
              <a href="login" style="text-decoration: none;">Login here</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  