<div class="container mt-4 mb-4">
  <div *ngIf="submissionStatus" class="alert-container">
    <div class="alert" [ngClass]="submissionStatus.type" role="alert">
      <div class="alert-icon">
        <i *ngIf="submissionStatus.type === 'alert-success'" class="fas fa-check-circle"></i>
        <i *ngIf="submissionStatus.type === 'alert-error'" class="fas fa-exclamation-circle"></i>
      </div>
      <div class="alert-content">
        {{ submissionStatus.message }}
      </div>
      <button type="button" class="close-btn" (click)="clearStatus()">X</button>
    </div>
  </div>
  
  <!-- Chart Controls -->
  
  <div class="row mb-3">
    <div class="col text-center">
      <button class="btn btn-primary me-2 text-dark" (click)="updateChart('household')">Household</button>
      <button class="btn btn-primary me-2 text-dark" (click)="updateChart('transportation')">Transportation</button>
      <button class="btn btn-primary me-2 text-dark" (click)="updateChart('wastage')">Wastage</button>
      <button class="btn btn-primary text-dark" (click)="updateChart('overall')">Overall</button>
    </div>
  </div>

  <!-- Dropdown for Transportation -->
  <!-- <div class="row mb-3" *ngIf="showDropdown">
    <div class="col text-center">
      <label for="transportType" class="form-label">Transportation Type:</label>
      <select
        id="transportType"
        class="form-select w-auto d-inline-block"
        (change)="updateTransportationType($event)"
      >
        <option value="public">Public</option>
        <option value="private">Private</option>
      </select>
    </div>
  </div> -->

  <!-- Chart Container -->
  <div class="row">
    <div class="col">
      <div
        class="chart-container border rounded shadow-sm p-3 bg-white"
        style="position: relative; height:60vh; width:100%"
      >
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>
</div>
