/* General Error Page Styles */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.error-container h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #d9534f;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.error-container p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: #843534;
}

.error-container a {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #d9534f;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.error-container a:hover {
  background-color: #c9302c;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

/* Responsive Styling */
@media (max-width: 768px) {
  .error-container {
    padding: 10px;
  }

  .error-container h1 {
    font-size: 3rem;
  }

  .error-container p {
    font-size: 1.2rem;
  }

  .error-container a {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
